
.outerDivTr{
    padding: 5px;
    display: inline;
    width: 100%;
}
.innerDivTr{
    width: 100%;
    margin: auto;
}
.addIncome{
    width: 100%;
    margin: 0 auto;
}

.addIncome th{
    color: white;
    font-family: Arial;
    font-size: 16px;
    padding: 5px;
}

.addIncome tr td{
    border: none;
    border-radius: 7px;
    background-color: mediumseagreen;
    font-size: 12pt;
    font-family: Arial;
    padding: 2px;
}


.addIncome tr td input{
    border: none;
    padding:7px;
    border-radius: 7px;
    background-color: white;
    font-size: 12pt;
    font-family: Arial;
    box-sizing: border-box;
    width: 100%;
}


.addIncome tr td select{
    border: none;
    padding:7px;
    border-radius: 7px;
    background-color: white;
    font-size: 12pt;
    font-family: Arial;
    box-sizing: border-box;
    width: 100%;
}

.addIncome tr td button{
    border: none;
    padding:7px;
    border-radius: 7px;
    background-color: white;
    font-size: 12pt;
    font-family: Arial;
    width: 100%;
}

.todayIncomes tr td{
    border: none;
    border-radius: 7px;
    background-color: mediumseagreen;
    font-size: 12pt;
    font-family: Arial;
    padding: 2px;
}


.todayIncomes th{
    color: white;
    font-family: Arial;
    font-size: 16px;
    padding: 5px;
}

.todayIncomes tr td {
    border: none;
    padding:7px;
    border-radius: 7px;
    background-color: white;
    font-size: 12pt;
    font-family: Arial;
    box-sizing: border-box;
    width: 100%;
}



.h2TodayIncomes{
    align-self: center;
    font-family: Arial;
    width: 100%;
    margin: 50px auto 10px;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 20pt;
    /*border: 2px solid violet;*/
}

#ppSum, #ppActSum{
    border: none;
    padding:7px;
    border-radius: 7px;
    background-color: white;
    font-size: 12pt;
    font-family: Arial;
    box-sizing: border-box;
    width: 100%;
}
