
.outerDivTr{
    padding: 5px;
    display: inline;
    width: 100%;
}
.innerDivTr{
    width: 100%;
    margin: auto;
}
.addIncome{
    width: 100%;
    margin: 0 auto;
}
.h2Light{
    margin-bottom: 20px;
}

.addIncome th {
    border: none;
    padding:7px;
    border-radius: 7px;
    background-color: #8fc7a0;
    font-size: 12pt;
    font-family: Helvetica;
    /*width: 100%;*/
    box-sizing: border-box;
    /*display: inline-flex;*/
}

.addIncome th a{
    border: none;
    /*padding:7px;*/
    /*border-radius: 7px;*/
    background-color: #8fc7a0;
    font-size: 12pt;
    font-family: Helvetica;
    /*width: 100%;*/
    box-sizing: border-box;
    display: inline-flex;
    color: white;
}

.addIncome tr td{
    border: none;
    border-radius: 3px;


    background-color: white;
    font-size: 16px;
    font-family: Helvetica;
    padding: 5px;
    text-align: center;

    /*opacity: 50%;*/
}
