.main{
    /*background-color: aquamarine;*/
}
.bodyClassGreen{
    background-color: mediumseagreen;
}

.inputClassLight{
    background-color: white;
    padding:7pt;
    border-radius: 7pt;
    border: none;
    font-family: Arial;
    width: 100%;
    margin: auto;
    /*border: 2px solid yellow;*/
    display: inline-block;
    font-size: 12pt;
}

a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    text-align: center;
}

button{
    text-align: center;
    cursor: pointer;
}

.h2Light{
    align-self: center;
    font-family: Arial;
    width: 100%;
    margin: 20px auto 10px;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 20pt;
    /*border: 2px solid violet;*/
}
.outerDivLogin{
    width: 25%;
    margin: auto;
    /*border: 2px solid red;*/
    padding: 5px;
}

.innerDivLogin{
    display: inline-flex;
    width: 100%;
    color: black;
    font-family: Arial;
    /*border: 2px solid black;*/
    margin: 5px auto;
}

.buttonDivTr{
    width: 100%;
    margin: 5px auto;
}
.squareImgDiv{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 50px auto;
    color: white;
    background-color: mediumseagreen;
    padding: 5px 15px;
    text-align: center;
    color: white;

}

.squareImgDiv a{
    width: 100%;
    color: white;
    margin: auto;
}

.squareImgDiv a div:first-child{
    width: 100%;
    font-size: 90px;
    margin: auto;
}

.squareImgDiv a div:last-child{
    width: 100%;
    margin: auto;
}

.storageMainPanel{
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
}


